// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.notice {
	position: absolute;
	top: 0;
	text-align: center;
	background: rgb(29, 128, 111);
	z-index: 10000;
	color: white;
	opacity: 0.7;
	height: 63px;
	width: 100%;

	p {
		color: white;
		opacity: 1;
		margin-top: 20px;
		font-size: 1.3em;
	}
}
